*{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

body{
    overflow: hidden;
    font:14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

.header{
    position: relative;
    background-color: #23262E;
    height: 60px;
    z-index: 1000;
}

.logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    user-select: none;
}

.logo img{
    width: 30%;
}

.right{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 20px;
    color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    user-select: none;
}

.right .nav-item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
}

.right .nav-item a{
    display: block;
    padding: 0 20px;
    color: rgba(255,255,255,0.7);
    font-size:14px;
    text-decoration: none;
    cursor: pointer;
}

.right li{
    transition: all 0.5;

}

.right .nav-item a img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
}

.nav-more{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    overflow: hidden;
    cursor: pointer;
    top: 50%;
    right: 3px;
    margin-top: -4px;
    border-width: 6px;
    border-top-color:rgba(255,255,255,.7);
    border-top-style: solid;
    transition: all 0.4s;
    transform-origin: 50% 3px;
}

.right li:hover .nav-more{
    transform: rotate(180deg);
}

.right li:hover span{
    color: #fff !important;
}

.rotate{
    transform: rotate(180deg);
}
.right .nav-item .nav-child{
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    min-width: 100%;
    line-height: 36px;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12);
    border: 1px solid #d2d2d2;
    z-index: 100;
    border-radius: 2px;
    white-space: nowrap;

}

.right .nav-item .nav-child a:hover{
    background-color: #F2F2F2 !important;
}
.right .nav-item .nav-child a{
    display: block;
    color: #23262E;
    background-color: #fff;
    text-align: center;
}

.main{
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 999;
    width: 200px;
    bottom: 0;
    background-color: #393D49!important;
}

.side-scroll{
    position: relative;
    width: 220px;
    height: 100%;
}

.main .side-scroll ul{
    position: relative;
    width: 200px;
    color: #fff;
    background-color: #393D49;
    border-radius:2px;
    box-sizing: border-box;
}

.main .side-scroll ul li{
    display: block;
    line-height: 45px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition:all 0.3s;
}

.chosen{
    background-color: #4E5465;
    
}

.chosen a{
    color:#fff !important;

}

.chosen::before{
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 45px;
    background-color: green;
}

.main .side-scroll ul li a{
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    white-space: nowrap;
    padding: 0 20px;
    color: rgba(255,255,255,.7);
    font-size: 14px ;
    text-decoration: none;
    user-select: none;
}

.main li .nav-more{
    margin-right: 10px;
}

.main li:hover a{
    color: #fff !important;
}


.main .side-scroll .nav-tree .nav-child{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    line-height: 36px;
    border-radius:2px;
    border: none;
    white-space:nowrap;
}

.main .side-scroll .nav-tree .nav-child a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    color:rgba(255,255,255,.7);
    padding: 0 20px;
    padding-left: 30px;
    background-color:#23262E ;

}

.main .side-scroll .nav-tree .nav-child a:hover span{
    color: #fff !important;
}

.main .side-scroll .nav-tree .nav-child a span{
    color: rgba(255,255,255,.7) !important;
    font-size: 13px;

}


.main .side-scroll .userinfo img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
}

.main .side-scroll .userinfo{
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
    color: #fff;
    border-bottom: 1px solid #282B33;
    user-select: none;
}

.text-avater{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size:20px;
    color: #fff;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.iconfont {
    margin-right: 5px;
}

.main_body{
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 200px;
    right: 0;
}

.bottom_border{
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: green;
}

iframe{
    width: 100%;
    height: 100%;
}

#welcome{
    font-size: 13px;
}

.layui-icon{
    margin-left: 10px;
    margin-right: 10px;
}